/*table styling */
table {
	
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
}

/*table headers */
th {
  background-color: rgb(21, 79, 105);
  color: white;
  text-align: left;
  padding: 8px;
}

/*table data */
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #c0c0c0;
}

/* Zebra striping for rows */
tr:nth-child(even) {
  background-color: #c0c0c0;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Hover effect for rows */
tr:hover {
  background-color: #838383;
}
