extends layout

block styles
	link(rel='stylesheet' href='/static/4814b1b3.css')

block content
	body(class="bg-gray-900 flex flex-col items-center gap-y-12 p-10")
		h1(class="text-6xl text-white italic text-center")
			| Kiki's Delivery Service
		h2(class="text-center text-white") Track your packages

		form(action="/" method="POST")
			input(type="text" name="pID" class="rounded-lg px-5 py-2" placeholder="Package ID")
		
		div(class="flex gap-x-5")
			a(href="/package/new" class="text-white underline") New Package
			a(href="/login" class="text-white underline") Service Login