extends layout

block styles 
	link(rel='stylesheet' href='/static/4814b1b3.css')

block content
	body(class="bg-gray-900 flex flex-col items-center p-10")
		h1(class="text-6xl text-white italic text-center") Service Login
		h2(class="text-2xl text-white italic text-center")
			| Kiki's Delivery Service
		label(for="username" class="mt-5 text-white text-xl") Username
		input(name="username" type="text" placeholder="KikiTheWitch" class="mt-3 rounded-lg px-2 py-1")
		label(for="password" class="mt-3 text-white text-xl") Password
		input(name="password" type="password" placeholder="JijiBestGato" class="mt-3 rounded-lg px-2 py-1")
		button(class="mt-3 bg-orange-400 px-2 py-1 text-white rounded-lg") Login